!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %title Current Status
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = stylesheet_link_tag    "application", :media => "all", data: { turbolinks_track: true }
    = javascript_include_tag "application", data: { turbolinks_track: true }
    = csrf_meta_tags
  %body
    .container
      = yield